@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Приветствуем!</h1>
    <h1 class="">Если у Вас ещё нет аккаунта, то создайте его</h1>
    <p><a class="nav-link text-center display-4" asp-area="" asp-page="/visitors/Create">Зарегистрироваться</a><p>
    <p><a class="nav-link text-center display-4" asp-area="" asp-page="/p_order/Create">Сделать заказ</a><p>
</div>
