@page
@model RazorPagesCafe.Pages.p_menu.IndexModel

@{
    ViewData["Title"] = "Меню";
}

<h1>Меню</h1>

@foreach (var item in Model.Menu) 
{
<div class="well">
    <h3>
        <a asp-page="./Details" asp-route-id="@item.MenuView">@item.MenuView</a>
    </h3>
</div>
}