@page
@model RazorPagesCafe.Pages.p_cont_order.EditModel

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Корзина</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContentsOfOrder.IdPositionNavigation.Name" />
            <div class="form-group">
                <label asp-for="ContentsOfOrder.IdOrder" class="control-label">Название блюда</label>
                <select asp-for="ContentsOfOrder.IdPosition" class="form-control" asp-items="ViewBag.IdOrder"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContentsOfOrder.IdPosition" class="control-label">id блюда</label>
                <select asp-for="ContentsOfOrder.IdOrder" class="form-control" asp-items="ViewBag.IdPosition"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContentsOfOrder.Comment" class="control-label"></label>
                <input asp-for="ContentsOfOrder.Comment" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
